name: refresh-past-heatmaps

permissions:
  contents: write

on:
  schedule:
    - cron: '0 1 1 * *'
  workflow_dispatch:

jobs:
  refresh-past-heatmaps:
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Install XQuartz on macOS
        if: runner.os == 'macOS'
        run: brew install xquartz --cask

      - name: Install vctrs
        run: Rscript -e 'install.packages(c("vctrs"))'

      - name: Install packages
        run: Rscript -e 'install.packages(c("tidyverse", "here", "jsonlite", "ggrepel", "conflicted","tidyr","scales","readabs","readrba","plotly","purrr","cachem","dplyr","ggpattern","ggtext","zoo"))'

      - name: Calculate RMSEs
        run: Rscript -e 'source(here::here("R", "rmse.R"), echo = TRUE)'

      - name: Get data
        run: Rscript -e 'source(here::here("R", "scrape_cash_rate.R"), echo = TRUE)'

      - name: Make past heatmaps
        run: Rscript -e 'source(here::here("R", "heat_maps_past.R"), echo = TRUE)'

      - name: Generate index.html from charts
        run: Rscript R/write_index_html.R

      - name: Commit
        run: |
          git config --global user.name 'igross'
          git add .
          git add docs/*.png docs/index.html
          git commit -m 'refreshing past heatmaps' || echo "No changes to commit"
          git push || echo "No changes to commit"
